<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">    
    <title>Everytime Hot 10</title>
</head>
<body>
  
    <div id="wrap">
        <div class="container">
            <ul id="best_search">
                <li>
                    <img src="{{ url_for('static', filename='everytime.png') }}" style="margin-left: auto; margin-right: auto; display: block;"/>
                    <p1>에브리타임 트렌드</p1>
                    <br><br><br><br>
                    <p>인사캠 인기단어</p>
                    <dl class="time1" >
                        <dd><a class="t" href="#">
                                <div class="num">1</div>{{data_insa.1}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">2</div>{{data_insa.2}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">3</div>{{data_insa.3}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">4</div>{{data_insa.4}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">5</div>{{data_insa.5}}
                            </a></dd>
                        <br>
                        <dd><a class="t" href="#">
                                <div class="num">6</div>{{data_insa.6}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">7</div>{{data_insa.7}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">8</div>{{data_insa.8}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">9</div>{{data_insa.9}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">10</div>{{data_insa.10}}
                            </a></dd>
                    </dl>
                </li>
                <br><br><br><br><br><br>
                <li>
                    <p>자과캠 인기단어</p>
                    <dl class="time1" >
                        <dd><a class="t" href="#">
                                <div class="num">1</div>{{data_jagwa.1}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">2</div>{{data_jagwa.2}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">3</div>{{data_jagwa.3}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">4</div>{{data_jagwa.4}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">5</div>{{data_jagwa.5}}
                            </a></dd>
                        <br>
                        <dd><a class="t" href="#">
                                <div class="num">6</div>{{data_jagwa.6}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">7</div>{{data_jagwa.7}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">8</div>{{data_jagwa.8}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">9</div>{{data_jagwa.9}}
                            </a></dd>
                        <dd><a class="t" href="#">
                                <div class="num">10</div>{{data_jagwa.10}}
                            </a></dd>
                    </dl>
                </li>
            </ul> 
      </div> </div>
</body>

</html>