@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
.normal     { font-weight: 400 }
.bold       { font-weight: 700 }
.bolder     { font-weight: 800 }
.light      { font-weight: 300 }

html,body {
	padding:0px;
	margin:0px;
	font-family: 'NanumSquare', sans-serif;
	position:relative;
}
#wrap {
	margin:0px;
	padding:0px;
	width:100%;
}
.container {
	display: flex;
  	justify-content: center;
}
a,img {
	border:0px;
	text-decoration:none;	
  	justify-content: center;
	text-align:center;
	
}
ul,li {
	list-style:none;
	padding:0px;
	margin:0px;
	text-align:center;
}
h1 {
	color:#525252;
	font-size:40px;
	font-weight:100;
	text-align:center;
	margin:0px;
	margin-top:193px;
}
h1 > b {
	font-weight:900;
}

#best_search {
	width:740px;
	margin:0 auto;
	padding-top:50px;
	text-align:center;
}

#best_search li,dd {
	display:inline-block;
	vertical-align:middle;
}

#best_search li p {
	color:#c62917;
	font-size:17px;
	font-weight:bold;
	margin:0px;
	
}

#best_search li p1 {
	color:#c62917;
	font-size:25px;
	font-weight:bold;
	margin:0px;	
}
dd {
	margin:0px;
}
dd  a.t{
	cursor:pointer;
	margin:0px;
	color:#292929;
	text-overflow:ellipsis;
	overflow:hidden;
	width:94px;
	white-space:nowrap;
	display:inline-block;
	font-size:17px;
	text-align:left;
	padding-right : 20px;
	padding-left : 22px;
	font-weight:700;
	vertical-align:middle;
}
dd .num {
	background-color:#c62917;
	color:#fff;
	font-size:10px;
	margin-right:10px;
	vertical-align:middle;
	width:18px;
	height:18px;
	float:left;
	line-height:18px;
	text-align:center;
}
.best_add {
	border:1px solid #bebebe;
	color:#4b4b4b;
	padding:0px 4px;
	margin-left:10px;
}